.chartArea{
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, .75);
    flex: 4;
}
/* .recharts-wrapper{
    height: 100% !important;
}
.recharts-surface{
    height: 400px !important;
} */