.userList{
    flex: 4;
}

.userListUser{
    display: flex;
    align-items: center;
}

.imgUser{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.userListEdit{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    color: #365E32;
    background-color: #C8CFA0;
    margin-right: 20px;
    cursor: pointer;
    line-height:normal;
}

.userListDelete{
    color: red;
    cursor: pointer;
}


/* Modal */

.modal-content{
    text-align: right;
}

.modal-header{
    justify-content: flex-end;
    color: #365E32;
}

.modal-body{
    color: #78ABA8;
    font-weight: 600;
}

.modal-footer{
    justify-content: flex-start !important;
}

.btn{
    background-color: #C8CFA0 !important;
    border:none !important;
}

.usernameStyle{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.username__Title{
    margin-right: .5rem;
    margin-bottom: .5rem;
    font-weight: 600;
}

.usernameStyle__profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.div__inputitem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem 0;
}

.input-style{
    border: none;
    border-bottom: 1px solid #c8cfa0;
    color: #8e8e8e;
}

.select__input-style{
    width: 40%;
    border: none;
    border-bottom: 1px solid #c8cfa0;
}

.select__input-style:focus-visible{
    outline: none;
}

.input-message{
    font-size: .9rem;
    text-align: center;
    margin-top: 2.5rem;
    color: #FD9B63;
}


